<div class="container">
	<div class="row">
		<div class="col-md-11">
			<div class="painel">
				<div class="row mb-4">
					<div class="col-md-12">
						<h3>
							<i class="material-icons alinhar-icones">
								done_all
							</i> Confirmar Partida
						</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales, arcu a iaculis feugiat, turpis felis pulvinar ex, nec
							ullamcorper mi nunc a nulla. Integer libero dolor, auctor vitae luctus eget, pellentesque eu risus.
						</p>
					</div>

				</div>
				<div class="row">
					<div class="col-md-6">
						<h5><i class="material-icons alinhar-icones">
									timer
									</i> Hórario da Partida</h5>
						<p>Escolha o hórario da partida</p>
						<div>
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="customCheck1">
								<label class="custom-control-label" for="customCheck1">10/11/2018 - 20:30</label>
							</div>
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="customCheck1">
								<label class="custom-control-label" for="customCheck1">10/11/2018 - 20:30</label>
							</div>
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="customCheck1">
								<label class="custom-control-label" for="customCheck1">10/11/2018 - 20:30</label>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<h5><i class="material-icons alinhar-icones">
								location_on
								</i> Local da Partida</h5>
						<p>Escolha o local da partida</p>

						<div>
							<div class="form-group">
								<i class="material-icons" style="    position: absolute;
								right: 30px;
								top: 85px;
								color: #cccccc;"> search </i>
								<input type="text" class="form-control" placeholder="Busque pelo nome da quadra...">
							</div>
						</div>
					</div>
				</div>

				<div class="mb-5 mt-5">
					<div class="row">
						<div class="col-md-5">
							<h4 class="text-center">
								<img src="assets/350x150.png" alt="" height="50"> Diferenciado FC
							</h4>
						</div>
						<div class="col-md-2">
							<div class="text-center">
								<h5>X</h5>
								<p class="mb-0 text-muted">Nome da Quadra</p>
								<small class="text-muted">10/11/2018 - 20:30</small>
							</div>
						</div>
						<div class="col-md-5">
							<h4 class="text-center">
								Duarte FC <img src="assets/350x150.png" alt="" height="50">
							</h4>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<button class="btn btn-secondary float-right">CANCELAR</button>
					</div>
					<div class="col-md-6">
						<button class="btn btn-primary float-left">CONFIRMAR</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>