<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="painel-cadastro">
				<div class="row">
					<div class="col-md-12">
						<div class="banner">
							<img src="assets/logo.jpg" width="200" alt="">
						</div>
					</div>
				</div>
				<div class="conteudo">
					<div class="row">
						<div class="col-md-12">
							<div class="text-center">
								<h5>Lorem ipsum</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<form #timeForm="ngForm" (ngSubmit)="cadastrarTime()">
								<div class="form-group">
									<label for="">Nome do Time</label>
									<input type="text" class="form-control" required [(ngModel)]="time.Nome" name="Nome">
								</div>

								<div class="form-group">
									<label for="">Emblema</label>
									<input type="file" class="form-control">
								</div>

								<div class="form-group">
									<label for="">Nome do Proprietário</label>
									<input type="text" class="form-control" required [(ngModel)]="time.Proprietario" name="Proprietario">
								</div>

								<div class="form-group">
									<label for="">E-mail</label>
									<input type="text" class="form-control" required [(ngModel)]="time.Email" name="Email">
								</div>

								<div class="form-group">
									<label for="">Celular</label>
									<input type="text" class="form-control" required [(ngModel)]="time.Telefone" name="Telefone">
								</div>

								<div class="form-group">
									<label for="">Estado</label>
									<select (change)="comboCidades($event.target.value)" class="form-control" required [(ngModel)]="time.IdEstado" name="IdEstado">
										<option selected>Selecione...</option>
										<option *ngFor="let estado of estados" value="{{estado.Id}}">{{estado.Nome}}</option>
									</select>
								</div>

								<div class="form-group">
									<label for="">Cidade</label>
									<select (change)="comboBairros($event.target.value)" class="form-control" required [(ngModel)]="time.IdCidade" name="IdCidade">
										<option>Selecione...</option>
										<option *ngFor="let cidade of cidades" value="{{cidade.Id}}">{{cidade.Nome}}</option>
									</select>
								</div>

								<div class="form-group">
									<label for="">Bairro</label>
									<select class="form-control" required [(ngModel)]="time.IdBairro" name="IdBairro">
										<option>Selecione...</option>
										<option *ngFor="let bairro of bairros" value="{{bairro.Id}}">{{bairro.Nome}}</option>
									</select>
								</div>

								<div class="form-group">
									<label for="">Senha de Acesso</label>
									<input type="password" class="form-control" required>
								</div>

								<div class="form-group">
									<label for="">Confirmar Senha</label>
									<input type="password" class="form-control" required [(ngModel)]="time.Senha" name="Senha">
								</div>

								<div class="form-group text-center">
									<button class="btn btn-primary">CRIAR</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>