<div class="container">
	<div class="row">
		<div class="col-md-11">
			<div class="painel">
				<div class="row">
					<div class="col-md-auto">
						<h3>
							{{time.Nome}}
						</h3>
						<!-- <hr> -->
					</div>
					<div class="col-md-auto">
						<div class="forca-time">

							<i class="material-icons alinhar-icones">
								star
								</i>
							<i class="material-icons alinhar-icones">
								star
								</i>
							<i class="material-icons alinhar-icones">
								star
								</i>
							<i class="material-icons alinhar-icones">
								star
								</i>
							<i class="material-icons alinhar-icones">
								star_half
							</i>

						</div>
					</div>
				</div>
				<hr>

				<div class="row">
					<div class="col-md-2">
						<div class="text-center">
							<a routerLink="/meu-time/adicionar-jogador" class="opcoes-meu-time">
								<i class="material-icons alinhar-icones">
									list_alt
								</i>
								<br>
								<small>Formação</small>
							</a>
						</div>
					</div>
					<div class="col-md-2">
						<div class="text-center">
							<a routerLink="/partidas/inicio" class="opcoes-meu-time">
								<i class="material-icons alinhar-icones">
									my_location
								</i>
								<br>
								<small>Marcar Jogo</small>
							</a>
						</div>
					</div>
					<div class="col-md-2">
						<div class="text-center">
							<i class="material-icons alinhar-icones">
								add_a_photo
							</i>
							<br>
							<small>Adicionar Fotos</small>
						</div>
					</div>
					<div class="col-md-2">
						<div class="text-center">
							<i class="material-icons alinhar-icones">
							description
							</i>
							<br>
							<small>Histôrico de Jogos</small>
						</div>
					</div>
					<div class="col-md-2">
						<div class="text-center">
							<i class="material-icons alinhar-icones">
							show_chart
							</i>
							<br>
							<small>Estatísticas</small>
						</div>
					</div>
					<div class="col-md-2">
						<div class="text-center">
							<i class="material-icons alinhar-icones">
							close
							</i>
							<br>
							<small>Excluir Time</small>
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-6">

					</div>
				</div>
				<div class="row">
					<div class="col-md-6">

						<h4>Elenco</h4>
						<div class="table-responsive" *ngIf="jogadores.length > 0; else elseBlock">
							<table class="table table-borderless">
								<caption>Técnico: {{time.Proprietario}}</caption>
								<tbody>
									<tr *ngFor="let jogador of jogadores">
										<td>{{ jogador.IdPosicao }}</td>
										<td>{{ jogador.Nome }}</td>
										<td>{{ jogador.IdPosicao }}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<ng-template #elseBlock>Nenhum jogador cadastrado ainda.</ng-template>
					</div>

					<div class="col-md-6 ">
						<div class="center-block ">
							<img src="assets/350x150.png " alt=" ">
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>