<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="painel">
				<div class="row">
					<div class="col-md-auto">
						<h3>
							{{time.Nome}}
						</h3>
						<!-- <hr> -->
					</div>
					<div class="col-md-auto">
						<div class="forca-time">

							<i class="material-icons alinhar-icones" *ngFor="let n of [] | iterator:time.Geral">
								star
								</i>

						</div>
					</div>
				</div>
				<hr>

				<app-menu-time [id]="time.Id"></app-menu-time>

				<hr>
				<div class="row">
					<div class="col-md-6">

					</div>
				</div>
				<div class="row">
					<div class="col-md-6">

						<h4>Elenco</h4>
						<div class="table-responsive" *ngIf="jogadores.length > 0; else elseBlock">
							<table class="table table-borderless">
								<caption>Técnico: {{time.Proprietario}}</caption>
								<tbody>
									<tr *ngFor="let jogador of jogadores">
										<td>{{ jogador.Posicao.Sigla }}</td>
										<td>{{ jogador.Nome }}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<ng-template #elseBlock>Nenhum jogador cadastrado ainda.</ng-template>
					</div>

					<div class="col-md-6 ">
						<div class="center-block ">
							<img src="assets/350x150.png " alt=" ">
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>