<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-5">
			<div class="painel-cadastro">
				<div class="row">
					<div class="col-md-12">
						<div class="banner">
							<img src="assets/logo.jpg" width="200" alt="">
						</div>
					</div>
				</div>
				<div class="conteudo">
					<div class="row">
						<div class="col-md-12">
							<div class="text-center">
								<h5>Lorem ipsum</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<form (ngSubmit)="logar()">
								<div class="form-group">
									<label for="">E-mail</label>
									<input type="text" class="form-control" required [(ngModel)]="email" name="email">
								</div>


								<div class="form-group">
									<label for="">Senha</label>
									<input type="password" class="form-control" required [(ngModel)]="senha" name="senha">
								</div>

								<p>{{mensagem}}</p>

								<div class="form-group text-center">
									<button class="btn btn-primary">ENTRAR</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>