<div class="container">
	<div class="row">
		<div class="col-md-11">
			<div class="painel">
				<div class="row">
					<div class="col-md-auto">
						<h3>
							Diferenciado FC
						</h3>
						<!-- <hr> -->
					</div>
					<div class="col-md-auto">
						<div class="forca-time">

							<i class="material-icons alinhar-icones">
								star
								</i>
							<i class="material-icons alinhar-icones">
								star
								</i>
							<i class="material-icons alinhar-icones">
								star
								</i>
							<i class="material-icons alinhar-icones">
								star
								</i>
							<i class="material-icons alinhar-icones">
								star_half
							</i>

						</div>
					</div>
				</div>
				<hr>

				<div class="row mb-4">
					<div class="col-md-6">
						<h4>Sua Escalação</h4>
					</div>
					<div class="col-md-6">
						<h4 class="text-right">0/18</h4>
					</div>
				</div>

				<div class="row">
					<div class="col-md-5">
						<form action="">
							<div class="form-group">
								<label for="">Nome do Jogador</label>
								<input type="text" class="form-control">
							</div>
							<div class="form-group">
								<label for="">Número da Camisa</label>
								<select class="form-control">
									<option>Selecione...</option>
								</select>
							</div>
							<div class="form-group">
								<label for="">E-mail</label>
								<input type="text" class="form-control">
							</div>
							<div class="form-group">
								<label for="">Celular</label>
								<input type="text" class="form-control">
							</div>
							<div class="form-group">
								<label for="">Posição</label>
								<select class="form-control">
									<option>Selecione...</option>
								</select>
							</div>
							<hr>
							<div class="form-group">
								<button class="btn btn-primary">ADICIONAR</button>
							</div>
						</form>

					</div>
					<div class="offset-md-1 col-md-6">

						<h4>Elenco</h4>
						<div class="table-responsive">
							<table class="table table-borderless">
								<caption>Técnico: Leonardo Duarte</caption>
								<thead>
									<tr>
										<th>Posição</th>
										<th>Nome</th>
										<th>Número</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>GOL</td>
										<td>Leonardo</td>
										<td>1</td>
										<td>
											<a href="" class="actions">
												<i class="material-icons">
													description
												</i>
											</a>
											<a href="" class="actions">
												<i class="material-icons">
													edit
												</i>
											</a>
											<a href="" class="actions text-danger">
												<i class="material-icons">
													clear
												</i>
											</a>
										</td>
									</tr>
									<tr>
										<td>ZAG</td>
										<td>Pedro</td>
										<td>3</td>
										<td>
											<a href="" class="actions">
												<i class="material-icons">
													description
												</i>
											</a>
											<a href="" class="actions">
												<i class="material-icons">
													edit
												</i>
											</a>
											<a href="" class="actions text-danger">
												<i class="material-icons">
													clear
												</i>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
</div>