<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="painel">
				<div class="row mb-4">
					<div class="col-md-12">
						<h3><i class="material-icons alinhar-icones">
								my_location
							</i> Encontrar Adversários</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales, arcu a iaculis feugiat, turpis felis pulvinar ex, nec
							ullamcorper mi nunc a nulla. Integer libero dolor, auctor vitae luctus eget, pellentesque eu risus.
						</p>
					</div>

				</div>

				<div class="row">
					<div class="col-md-12">
						<div>
							<div class="btn-group mb-3">
								<button type="button" class="btn btn-primary">Todos</button>
							</div>
							<div class="btn-group mb-3 ml-1">
								<button type="button" class="btn btn-light">Mais Próximos</button>
								<button type="button" class="btn btn-light">Força</button>
								<button type="button" class="btn btn-light">Partidas Disputadas</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row" *ngIf="times.length > 0">

					<div class="col-md-4" *ngFor="let time of times">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-md-8">
										<h5 class="card-title">{{ time.Nome }}</h5>
									</div>
									<div class="col-md-4">
										<img src="assets/350x150.png" alt="" class="img-fluid">
									</div>
								</div>

								<div class="forca-time">
									<small>
										<i class="material-icons font21 alinhar-icones" *ngFor="let n of [] | iterator:time.Geral">
										star
										</i>
										
									</small>
								</div>
								<div>
									<small><i class="material-icons font21 alinhar-icones">
												event
													</i> Data de Criação: {{ time.DataCriacao | date:'dd/MM/yyyy' }}
										</small><br>
									<small><i class="material-icons font21 alinhar-icones">
												room
												</i> Local do Time: {{ time.Cidade.Nome }}/{{ time.Estado.Sigla }}
										</small>
								</div>
								<hr>

								<div>
									<div class="row">
										<div class="col-md-12 text-right">
											<a routerLink="/partidas/marcar/{{time.Id}}" class="link-principal">
												<i class="material-icons alinhar-icones">
													done_all
												</i>

												MARCAR
											</a>
										</div>

									</div>

								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row" *ngIf="mostrarLoading">
					<div class="col-md-12">
						<app-loading></app-loading>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>