<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="painel">
				<h3><i class="material-icons alinhar-icones">
                        supervised_user_circle
                    </i> Meu Time</h3>
				<hr>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales, arcu a iaculis feugiat, turpis felis pulvinar ex,
					nec ullamcorper mi nunc a nulla. Integer libero dolor, auctor vitae luctus eget, pellentesque eu risus.</p>
				<hr>
				<div class="text-right">
					<a routerLink="/meu-time" class="link-principal">VEJA SEU TIME <i class="material-icons alinhar-icones">
						arrow_forward						
						</i></a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="painel">
				<h3><i class="material-icons alinhar-icones">
					my_location
				</i> Marcar Partida</h3>
				<hr>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales, arcu a iaculis feugiat, turpis felis pulvinar ex,
					nec ullamcorper mi nunc a nulla. Integer libero dolor, auctor vitae luctus eget, pellentesque eu risus.</p>
				<hr>
				<div class="text-right">
					<a routerLink="/partidas/inicio" class="link-principal">ENCONTRE ADVERSÁRIOS <i class="material-icons alinhar-icones">
						arrow_forward						
						</i></a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="painel">
				<h3><img src="assets/trofeu.png" alt="" style="top:-2px;position: relative;"> Torneios</h3>
				<hr>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales, arcu a iaculis feugiat, turpis felis pulvinar ex,
					nec ullamcorper mi nunc a nulla. Integer libero dolor, auctor vitae luctus eget, pellentesque eu risus.</p>
				<hr>
				<div class="text-right">
					<a routerLink="/torneios/inicio" class="link-principal">ACESSAR <i class="material-icons alinhar-icones">
						arrow_forward						
						</i></a>
				</div>
			</div>
		</div>
		<!-- <div class="col-md-3">
                <div class="painel">
                    <h3>Lorem ipsum</h3>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales, arcu a iaculis feugiat, turpis
                        felis pulvinar ex, nec ullamcorper mi nunc a nulla. Integer libero dolor, auctor vitae luctus eget,
                        pellentesque eu risus.</p>
                    <hr>
                    <div class="text-right">
                        <a href="">Lorem ipsum</a>
                    </div>
                </div>
            </div> -->
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-7">
			<div class="painel">
				<h3>
					<i class="material-icons alinhar-icones">
						description
					</i> Notícias
				</h3>
				<hr>
				<div class="media">
					<img class="mr-3" src="https://via.placeholder.com/150x150" alt="Generic placeholder image">
					<div class="media-body">
						<h5 class="mt-0">Media heading</h5>
						Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
						vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis
						in faucibus.
					</div>
				</div>
				<hr>
				<div class="media">
					<img class="mr-3" src="https://via.placeholder.com/150x150" alt="Generic placeholder image">
					<div class="media-body">
						<h5 class="mt-0">Media heading</h5>
						Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
						vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis
						in faucibus.
					</div>
				</div>
				<hr>
				<div class="text-right">
					<a routerLink="/torneios/inicio" class="link-principal">VEJA MAIS <i class="material-icons alinhar-icones">
							arrow_forward						
							</i></a>
				</div>
			</div>

		</div>
		<div class="col-md-5">
			<div class="painel">
				<h3>
					<i class="material-icons alinhar-icones">
						equalizer						
					</i> Ranqueamento
				</h3>
				<hr>
				<div class="ranqueamento">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
								Time
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="profile-tab" data-toggle="tab" href="#perfil" role="tab" aria-controls="profile" aria-selected="false">
								Artilheiro
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contato" role="tab" aria-controls="contact" aria-selected="false">
								Partidas
							</a>
						</li>
					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
							<h6>Melhores Times de 2018</h6>
							<div class="table-responsive">
								<table class="table table-sm table-bordered">
									<thead>
										<tr>
											<th>Nome do Time</th>
											<th>Nº de Jogos</th>
											<th>Nº de Vitórias</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Diferenciado FC</td>
											<td>4</td>
											<td>4</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="tab-pane fade" id="perfil" role="tabpanel" aria-labelledby="profile-tab">
							<h6>Artilheiros de 2018</h6>
							<div class="table-responsive">
								<table class="table table-sm table-bordered">
									<thead>
										<tr>
											<th>Nome do Jogador</th>
											<th>Nº de Gols</th>
											<th>Nome do Time</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Leonardo Duarte</td>
											<td>4</td>
											<td>Diferenciado FC</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="tab-pane fade" id="contato" role="tabpanel" aria-labelledby="contact-tab">
							<h6>Partidas Disputadas em 2018</h6>
							<div class="table-responsive">
								<table class="table table-sm table-bordered">
									<thead>
										<tr>
											<th>Nome do Time</th>
											<th>Número de Partidas</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Diferenciado FC</td>
											<td>4</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<hr>
				<div class="text-right">
					<a routerLink="/torneios/inicio" class="link-principal">VEJA MAIS <i class="material-icons alinhar-icones">
							arrow_forward						
							</i></a>
				</div>
			</div>
		</div>
	</div>
</div>